In [3]:
import numpy as np
import pandas as pd
import re

#### My dataset source is Kaggle.com
The link to view the raw dataset is: https://www.kaggle.com/datasets/toriqulstu/worlds-real-estate-data147k

### Loading the two data and concatinating them

In [4]:
intern_data = pd.read_csv("./data/international_house_price_dataset.csv")
Africal_data = pd.read_csv("./data/African_data.csv")
all_data = pd.concat([intern_data, Africal_data], ignore_index=True)
all_data.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,image,url
0,2 room apartment 120 m² in Mediterranean Regio...,Turkey,"Mediterranean Region, Turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,https://realting.com/uploads/bigSlider/ab3/888...,https://realting.com/property-for-sale/turkey/...
1,"4 room villa 500 m² in Kalkan, Turkey",Turkey,"Kalkan, Mediterranean Region, Kas, Turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0,https://realting.com/uploads/bigSlider/87b/679...,https://realting.com/property-for-sale/turkey/...
2,"1 room apartment 65 m² in Antalya, Turkey",Turkey,"Mediterranean Region, Antalya, Turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,https://realting.com/uploads/bigSlider/030/a11...,https://realting.com/property-for-sale/turkey/...
3,"1 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,https://realting.com/uploads/bigSlider/e9a/e06...,https://realting.com/property-for-sale/thailan...
4,"2 room apartment in Pattaya, Thailand",Thailand,"Chon Buri Province, Pattaya, Thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,https://realting.com/uploads/bigSlider/453/aa2...,https://realting.com/property-for-sale/thailan...

In [5]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148536 entries, 0 to 148535
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   title                       148536 non-null  object
 1   country                     148406 non-null  object
 2   location                    148405 non-null  object
 3   building_construction_year  65719 non-null   float64
 4   building_total_floors       69224 non-null   float64
 5   apartment_floor             55592 non-null   float64
 6   apartment_rooms             75178 non-null   float64
 7   apartment_bedrooms          37982 non-null   float64
 8   apartment_bathrooms         56973 non-null   float64
 9   apartment_total_area        142796 non-null  object
 10  apartment_living_area       28712 non-null   object
 11  price_in_USD                145961 non-null  float64
 12  image                       148536 non-null  object
 13  url                         148536 non-null  object
dtypes: float64(7), object(7)
memory usage: 15.9+ MB

#### Converting all categorical columns into lower case

In [6]:
for col in all_data.select_dtypes(include="object"):
    all_data[col] = all_data[col].str.lower()
    print(col)

title
country
location
apartment_total_area
apartment_living_area
image
url

In [7]:
all_data.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD
count,65719.000000,69224.000000,55592.000000,75178.000000,37982.000000,56973.000000,1.459610e+05
mean,1996.754896,8.739281,6.036408,2.578361,2.294561,1.375880,4.163970e+05
std,156.353399,8.515977,5.968633,1.321674,18.035654,0.751599,8.420900e+05
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,0.000000e+00
25%,2003.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.058490e+05
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.917700e+05
75%,2024.000000,14.000000,8.000000,3.000000,3.000000,2.000000,4.021680e+05
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,3.060283e+07

In [8]:
all_data.shape

(148536, 14)

### Dropping the url and the image columns since they are not so useful in the project EDA

In [7]:
all_data.drop(columns=["url", "image"], inplace=True)
all_data.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD
0,2 room apartment 120 m² in mediterranean regio...,turkey,"mediterranean region, turkey",NaN,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0
1,"4 room villa 500 m² in kalkan, turkey",turkey,"kalkan, mediterranean region, kas, turkey",2021.0,2.0,NaN,NaN,NaN,NaN,500 m²,480 m²,1108667.0
2,"1 room apartment 65 m² in antalya, turkey",turkey,"mediterranean region, antalya, turkey",NaN,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0
3,"1 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0
4,"2 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0

### Working on missing values

In [8]:
all_data.isna()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD
0,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,True,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
148531,False,False,False,False,False,False,False,False,False,True,True,False
148532,False,False,False,False,False,False,False,False,False,True,True,False
148533,False,False,False,False,False,False,False,False,False,True,True,False
148534,False,False,False,False,False,False,False,False,False,True,True,False
148535,False,False,False,False,False,False,False,False,False,True,True,False

**Checking the percentages of the whole dataset NAN**

In [9]:
all_data.isna().mean() * 100

title                          0.000000
country                        0.087521
location                       0.088194
building_construction_year    55.755507
building_total_floors         53.395810
apartment_floor               62.573383
apartment_rooms               49.387354
apartment_bedrooms            74.429095
apartment_bathrooms           61.643642
apartment_total_area           4.537621
apartment_living_area         81.343243
price_in_USD                   1.733586
dtype: float64

**Discorvered constuction_year has 55% of missing values and i can't possibly drop the entire column
since it would help in the future EDA and modelling.
So, i decided to assign a missing_value flag by replacing it with the mean**

In [10]:
cons_year_null = all_data["building_construction_year"] . isna().mean()*100

# filling the missing values with the mean
all_data["building_construction_year"].fillna(cons_year_null).astype(float)

0           55.755507
1         2021.000000
2           55.755507
3         2020.000000
4         2026.000000
             ...
148531    1998.000000
148532    1990.000000
148533    1961.000000
148534    2013.000000
148535    1972.000000
Name: building_construction_year, Length: 148536, dtype: float64

#### Checking which of the columns still ahve the highest missing values

In [11]:
imp_cols = [
    "building_total_floors", "apartment_floor", 
    "apartment_rooms","apartment_bedrooms",
    "apartment_bathrooms","building_construction_year"
]

for col in imp_cols:
    # Ensure correct variable name
    median_val = all_data[col].median()*100
    print(f"missing in {col} {median_val} ")

missing in building_total_floors 500.0
missing in apartment_floor 400.0
missing in apartment_rooms 200.0
missing in apartment_bedrooms 200.0
missing in apartment_bathrooms 100.0
missing in building_construction_year 202100.0

**Since the majority have the highest missing values, it would be best if the most important ones that would be very useful for the EDA and modelling to be filtered out and consider dropping other having above 60%**

In [12]:
imp_cols = [
    "building_total_floors", "apartment_floor", 
    "apartment_rooms","apartment_bedrooms",
    "apartment_bathrooms", "price_in_USD", "building_construction_year"
]

for col in imp_cols:
    # Ensure correct variable name
    median_val = all_data[col].median()                   # calculate median
    all_data[f"{col}_missing"] = all_data[col].isna().astype(int)  # create missing flag
    all_data[col] = all_data[col].fillna(median_val)    # fill NaNs with median
    
    # Optional: print how many NaNs remain
    print(f"{col} missing after fill: {all_data[col].isna().sum()}")

building_total_floors missing after fill: 0
apartment_floor missing after fill: 0
apartment_rooms missing after fill: 0
apartment_bedrooms missing after fill: 0
apartment_bathrooms missing after fill: 0
price_in_USD missing after fill: 0
building_construction_year missing after fill: 0

In [13]:
all_data.head()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,apartment_living_area,price_in_USD,building_total_floors_missing,apartment_floor_missing,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing
0,2 room apartment 120 m² in mediterranean regio...,turkey,"mediterranean region, turkey",2021.0,5.0,1.0,3.0,2.0,2.0,120 m²,110 m²,315209.0,0,0,0,0,0,0,1
1,"4 room villa 500 m² in kalkan, turkey",turkey,"kalkan, mediterranean region, kas, turkey",2021.0,2.0,4.0,2.0,2.0,1.0,500 m²,480 m²,1108667.0,0,1,1,1,1,0,0
2,"1 room apartment 65 m² in antalya, turkey",turkey,"mediterranean region, antalya, turkey",2021.0,5.0,2.0,2.0,1.0,1.0,65 m²,60 m²,173211.0,0,0,0,0,0,0,1
3,"1 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,40 m²,99900.0,0,0,0,0,0,0,0
4,"2 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,36 m²,67000.0,0,0,0,0,0,0,0

**Checking the percentages of the columns that are important and that will beuseful for EDA and modelling**

In [14]:
each_column = [
    "country", "location",
    "price_in_USD","apartment_total_area"
]
for cols in each_column:
    perc_missing = all_data[cols].isna().mean()*100
    print(f"percentage of missing values in {cols}: {perc_missing}")

percentage of missing values in country: 0.08752087036139387
percentage of missing values in location: 0.08819410782571228
percentage of missing values in price_in_USD: 0.0
percentage of missing values in apartment_total_area: 4.537620509506112

**Since the percentages aren't high, dropping the rows with the nan will not affect the model in a negative way**

In [15]:
all_data.isna().sum()

title                                      0
country                                  130
location                                 131
building_construction_year                 0
building_total_floors                      0
apartment_floor                            0
apartment_rooms                            0
apartment_bedrooms                         0
apartment_bathrooms                        0
apartment_total_area                    6740
apartment_living_area                 120824
price_in_USD                               0
building_total_floors_missing              0
apartment_floor_missing                    0
apartment_rooms_missing                    0
apartment_bedrooms_missing                 0
apartment_bathrooms_missing                0
price_in_USD_missing                       0
building_construction_year_missing         0
dtype: int64

**The missing values in the "apartment_living_area", "apartment_total_area", could not be reassigned / filled with the mean because of the string values attached to the values in the rows (m^2). So, for the missing valuies to be re-assigned or refill with the mean, the 'm^2' must be extracted.**

In [16]:
pattern = r'(\d+)\s*(?:m²|m\^2|m2|sqm)'

all_data["apartment_total_area_m2"] = all_data["apartment_total_area"].str.extract(pattern).astype(float)
all_data["apartment_living_area_m2"] = all_data["apartment_living_area"].str.extract(pattern).astype(float)

all_data.isna().sum()

title                                      0
country                                  130
location                                 131
building_construction_year                 0
building_total_floors                      0
apartment_floor                            0
apartment_rooms                            0
apartment_bedrooms                         0
apartment_bathrooms                        0
apartment_total_area                    6740
apartment_living_area                 120824
price_in_USD                               0
building_total_floors_missing              0
apartment_floor_missing                    0
apartment_rooms_missing                    0
apartment_bedrooms_missing                 0
apartment_bathrooms_missing                0
price_in_USD_missing                       0
building_construction_year_missing         0
apartment_total_area_m2                 6740
apartment_living_area_m2              120824
dtype: int64

**Since the two columns are all float, and the m2 has been assigned to the columns' heading, then the missing values can be attended to now**

In [17]:
Apartment_nan = [
    "apartment_total_area_m2",
    "apartment_living_area_m2"
]

for col in Apartment_nan:
    median_values = all_data[col].median()*100
    all_data[col] = all_data[col].fillna(median_values)

**Since new columns 'apartment_total_area_m2, apartment_living_area_m2' had been extracted from the other coluns 'apartment_living_area, apartment_total_area', I consider dropping the old columns**

In [18]:
all_data.drop(columns=["apartment_living_area"], inplace=True)

all_data.columns

Index(['title', 'country', 'location', 'building_construction_year',
       'building_total_floors', 'apartment_floor', 'apartment_rooms',
       'apartment_bedrooms', 'apartment_bathrooms', 'apartment_total_area',
       'price_in_USD', 'building_total_floors_missing',
       'apartment_floor_missing', 'apartment_rooms_missing',
       'apartment_bedrooms_missing', 'apartment_bathrooms_missing',
       'price_in_USD_missing', 'building_construction_year_missing',
       'apartment_total_area_m2', 'apartment_living_area_m2'],
      dtype='object')

In [19]:
all_data.isna().sum()

title                                    0
country                                130
location                               131
building_construction_year               0
building_total_floors                    0
apartment_floor                          0
apartment_rooms                          0
apartment_bedrooms                       0
apartment_bathrooms                      0
apartment_total_area                  6740
price_in_USD                             0
building_total_floors_missing            0
apartment_floor_missing                  0
apartment_rooms_missing                  0
apartment_bedrooms_missing               0
apartment_bathrooms_missing              0
price_in_USD_missing                     0
building_construction_year_missing       0
apartment_total_area_m2                  0
apartment_living_area_m2                 0
dtype: int64

**Since the rest have little NAN, then, dropping them won't negatively affect the EDA and the modelling**

In [20]:
all_data.isna().sum()

title                                    0
country                                130
location                               131
building_construction_year               0
building_total_floors                    0
apartment_floor                          0
apartment_rooms                          0
apartment_bedrooms                       0
apartment_bathrooms                      0
apartment_total_area                  6740
price_in_USD                             0
building_total_floors_missing            0
apartment_floor_missing                  0
apartment_rooms_missing                  0
apartment_bedrooms_missing               0
apartment_bathrooms_missing              0
price_in_USD_missing                     0
building_construction_year_missing       0
apartment_total_area_m2                  0
apartment_living_area_m2                 0
dtype: int64

### Working on the duplicates

In [21]:
all_data.duplicated().sum()
all_data.drop_duplicates()

,title,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD,building_total_floors_missing,apartment_floor_missing,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing,apartment_total_area_m2,apartment_living_area_m2
0,2 room apartment 120 m² in mediterranean regio...,turkey,"mediterranean region, turkey",2021.0,5.0,1.0,3.0,2.0,2.0,120 m²,315209.0,0,0,0,0,0,0,1,120.0,110.0
1,"4 room villa 500 m² in kalkan, turkey",turkey,"kalkan, mediterranean region, kas, turkey",2021.0,2.0,4.0,2.0,2.0,1.0,500 m²,1108667.0,0,1,1,1,1,0,0,500.0,480.0
2,"1 room apartment 65 m² in antalya, turkey",turkey,"mediterranean region, antalya, turkey",2021.0,5.0,2.0,2.0,1.0,1.0,65 m²,173211.0,0,0,0,0,0,0,1,65.0,60.0
3,"1 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,99900.0,0,0,0,0,0,0,0,8800.0,40.0
4,"2 room apartment in pattaya, thailand",thailand,"chon buri province, pattaya, thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,67000.0,0,0,0,0,0,0,0,8800.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148531,smart apartment,brazil,waterfront,1998.0,30.0,27.0,5.0,1.0,1.0,NaN,270810.0,0,0,0,0,0,0,0,8800.0,4600.0
148532,penthouse suite,france,business district,1990.0,30.0,10.0,1.0,1.0,3.0,NaN,1279290.0,0,0,0,0,0,0,0,8800.0,4600.0
148533,smart apartment,usa,downtown,1961.0,18.0,8.0,4.0,2.0,3.0,NaN,534789.0,0,0,0,0,0,0,0,8800.0,4600.0
148534,smart apartment,uae,waterfront,2013.0,2.0,17.0,4.0,4.0,3.0,NaN,1884811.0,0,0,0,0,0,0,0,8800.0,4600.0
148535,suburban home,japan,tech district,1972.0,30.0,9.0,1.0,4.0,3.0,NaN,966797.0,0,0,0,0,0,0,0,8800.0,4600.0

In [9]:
# converting these columns to int64 for easy modelling aand EDA

cols = [
    "building_total_floors",
    "apartment_floor",
    "apartment_rooms",
    "apartment_bedrooms",
    "apartment_bathrooms"
]

all_data[col] = all_data[col].astype(int)

ValueError: invalid literal for int() with base 10: 'https://realting.com/property-for-sale/turkey/inest-homes/1766770'

In [23]:
# working on the tilte that has digit + m^2

all_data["area_from_title"] = all_data["title"].str.extract(r'(\d+)\s*(?:m²|sqm|sq\.?m|m2|m)').dropna()

**Working on extracting some columns from the 'title' column using regex so as to finally drop the 'title' column**

In [24]:
# Make a copy to avoid Setting With Copy Warning
df = all_data.copy()

# 3. Extract area like “85 m^2”, “120sqm”, “200 m2”
df["area_from_title m\u00b2"] = df["title"].str.extract(
    r'(\d+)\s*(?:m2|m²|sqm|sq\.m|square meters?)',
    flags=re.IGNORECASE
).dropna()

# 5. Extract simple property type and others that could stand as columns on their own
df["property_type"] = df["title"].str.extract(
    r'(apartment|villa|studio|duplex|penthouse|house)',
    flags=re.IGNORECASE
)

In [25]:
df[["property_type", "area_from_title m\u00b2"]]

       property_type area_from_title m²
0          apartment                120
1              villa                500
2          apartment                 65
3          apartment                NaN
4          apartment                NaN
...              ...                ...
148531     apartment                NaN
148532     penthouse                NaN
148533     apartment                NaN
148534     apartment                NaN
148535           NaN                NaN

[148536 rows x 2 columns]

**Since majority of what is in the title column are already independent columns on their own, then dropping the 'title' column is a great ideal**

In [26]:
df.drop(columns=["title"], inplace=True)

**Checking the summary of the whole dataset and discovered that 'price_in_USD' still have it max to be over 17M. This is capable of high high outliers making the plot to be heavily right-skewed and those houses with lower price price would be hidden. So, I decided to remove the 0.5% of the prices that is too high so as to enable even distribution of the prices and to display those with lower prices**

In [27]:
df.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD,building_total_floors_missing,apartment_floor_missing,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing,apartment_total_area_m2,apartment_living_area_m2
count,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,1.485360e+05,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000
mean,2010.272877,6.742662,4.762159,2.292724,2.075322,1.144174,4.125029e+05,0.533958,0.625734,0.493874,0.744291,0.616436,0.017336,0.557555,522.008133,3756.025536
std,104.695260,6.105524,3.782078,0.983728,9.121028,0.500079,8.352735e+05,0.498847,0.483934,0.499964,0.436260,0.486255,0.130520,0.496678,1808.642193,1762.695800
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.074335e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.000000,4600.000000
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.917700e+05,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,92.000000,4600.000000
75%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,3.976822e+05,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,169.000000,4600.000000
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,3.060283e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8800.000000,4600.000000

In [28]:
df["price_in_USD"].max()

np.float64(30602832.0)

In [29]:
df.dropna()

,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD,...,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing,apartment_total_area_m2,apartment_living_area_m2,area_from_title,area_from_title m²,property_type
0,turkey,"mediterranean region, turkey",2021.0,5.0,1.0,3.0,2.0,2.0,120 m²,315209.0,...,0,0,0,0,1,120.0,110,120,120,apartment
1,turkey,"kalkan, mediterranean region, kas, turkey",2021.0,2.0,4.0,2.0,2.0,1.0,500 m²,1108667.0,...,1,1,1,0,0,500.0,480,500,500,villa
2,turkey,"mediterranean region, antalya, turkey",2021.0,5.0,2.0,2.0,1.0,1.0,65 m²,173211.0,...,0,0,0,0,1,65.0,60,65,65,apartment
5,georgia,"abkhazia, batumi, georgia",2026.0,5.0,4.0,1.0,2.0,1.0,28 m²,35622.0,...,0,1,0,0,0,28.0,4600,28,28,apartment
6,turkey,"yesiloez, mediterranean region, alanya, turkey",2007.0,2.0,3.0,5.0,4.0,4.0,245 m²,274415.0,...,0,0,0,0,0,245.0,245,245,245,apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147529,turkey,"yaylali, mediterranean region, alanya, turkey",2023.0,5.0,4.0,3.0,2.0,1.0,106 m²,510856.0,...,0,1,0,0,0,106.0,4600,106,106,apartment
147530,turkey,"bahcelievler mahallesi, marmara region, turkey",2021.0,5.0,4.0,2.0,3.0,1.0,168 m²,614848.0,...,1,0,1,0,1,168.0,4600,168,168,apartment
147531,turkey,"mediterranean region, gazipasa, turkey",2021.0,5.0,4.0,2.0,5.0,1.0,310 m²,597810.0,...,1,0,1,0,1,310.0,4600,310,310,apartment
147532,turkey,"marmara region, turkey",2023.0,5.0,4.0,5.0,4.0,2.0,192 m²,637195.0,...,0,0,0,0,0,192.0,151,192,192,apartment
147535,turkey,turkey,2021.0,2.0,4.0,5.0,4.0,1.0,140 m²,939164.0,...,0,0,1,0,1,140.0,4600,140,140,apartment

### Saving the data as 'analysed_project'

In [30]:
df.to_csv("./data/analysed_project.csv", index=False)
df.head()

,country,location,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,apartment_total_area,price_in_USD,...,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing,apartment_total_area_m2,apartment_living_area_m2,area_from_title,area_from_title m²,property_type
0,turkey,"mediterranean region, turkey",2021.0,5.0,1.0,3.0,2.0,2.0,120 m²,315209.0,...,0,0,0,0,1,120.0,110,120,120,apartment
1,turkey,"kalkan, mediterranean region, kas, turkey",2021.0,2.0,4.0,2.0,2.0,1.0,500 m²,1108667.0,...,1,1,1,0,0,500.0,480,500,500,villa
2,turkey,"mediterranean region, antalya, turkey",2021.0,5.0,2.0,2.0,1.0,1.0,65 m²,173211.0,...,0,0,0,0,1,65.0,60,65,65,apartment
3,thailand,"chon buri province, pattaya, thailand",2020.0,15.0,5.0,2.0,1.0,1.0,NaN,99900.0,...,0,0,0,0,0,8800.0,40,NaN,NaN,apartment
4,thailand,"chon buri province, pattaya, thailand",2026.0,8.0,3.0,3.0,2.0,1.0,NaN,67000.0,...,0,0,0,0,0,8800.0,36,NaN,NaN,apartment

In [31]:
df.describe()

,building_construction_year,building_total_floors,apartment_floor,apartment_rooms,apartment_bedrooms,apartment_bathrooms,price_in_USD,building_total_floors_missing,apartment_floor_missing,apartment_rooms_missing,apartment_bedrooms_missing,apartment_bathrooms_missing,price_in_USD_missing,building_construction_year_missing,apartment_total_area_m2,apartment_living_area_m2
count,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,1.485360e+05,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000,148536.000000
mean,2010.272877,6.742662,4.762159,2.292724,2.075322,1.144174,4.125029e+05,0.533958,0.625734,0.493874,0.744291,0.616436,0.017336,0.557555,522.008133,3756.025536
std,104.695260,6.105524,3.782078,0.983728,9.121028,0.500079,8.352735e+05,0.498847,0.483934,0.499964,0.436260,0.486255,0.130520,0.496678,1808.642193,1762.695800
min,1.000000,-1.000000,-2.000000,-1.000000,-1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.074335e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,58.000000,4600.000000
50%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,1.917700e+05,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,92.000000,4600.000000
75%,2021.000000,5.000000,4.000000,2.000000,2.000000,1.000000,3.976822e+05,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,169.000000,4600.000000
max,2316.000000,124.000000,202.000000,124.000000,2009.000000,43.000000,3.060283e+07,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8800.000000,4600.000000